<div class="col-md-4 col-sm-6 col-xs-6">
  <div class="product product-single">
    <div class="product-thumb">
      <%= product.picture %>
      <img src="assets/a.png" alt="">
    </div>
    <div class="product-body">
      <h3 class="product-price"><%= product.price %></h3>
      <div class="product-rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star-o empty"></i>
      </div>
      <h2 class="product-name"><a href="#"><%= product.name %></a></h2>
      <div class="product-btns">
        <button class="primary-btn add-to-cart"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
      </div>
    </div>
  </div>
</div>
